extends layout
block index-content
  h2.header WYSIWIKI - WYSIWIG+Websocket+Wiki
  p.strong How to use
  ol.large-offset-1
    li アドレスバーに、http://wysiwiki.com/と打ち込む
    li /wikiの名前/記事の名前でページが自動生成されます
    li おもむろに書いてください

  p ex: http://