!!! 5
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  if locals.article != null
    title= locals.article
  else if locals.wiki != null
    title= locals.wiki + ":ページリスト"
  else
    title WYSIWIKI
  meta(name='description', content='wysiwiki')
  meta(name='author', content='wysiwiki')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv='Content-Script-Type', content='text/javascript')
  meta(http-equiv='Content-Style-Type', content='text/css')

  // CSS
  != css("bootstrap.min")
  != css("bootstrap-responsive.min")
  != css('jquery-ui-1.10.2.min')
  != css('hubinfo.min')
  != css('normalize')
  != css('foundation.min')

  != css('app')

  // JS
  != js('jquery-1.9.1.min')
  != js('bootstrap.min')
  != js('jquery.pjax')
  != js('underscore')
  != js('backbone')
  != js('jquery-ui-1.10.2.min')
  != js('hubinfo.min')
  != js('freshereditor.min')
  != js('foundation.min') //Foundation以下にいろいろ入ってる
  != js('vendor/custom.modernizr')
  != js('vendor/zepto')
  //!= js('socket.io/socket.io.js')

  != js('app')
  script(src='//localhost:8000/socket.io/socket.io.js')

body
  .container
    .row-fluid
      .span4
        #left
          if locals.wiki != null
            h1.logo= locals.wiki
          else
            h1.logo WYSIWIKI
          p.desc 見たまんま書いてしまえるWiki

          ul
            li
              a#home home
            li
              a#about about

          if locals.wiki != null
            #wiki-connection
              グループ接続人数
              #wiki-number.pull-right 1
          if locals.article != null
            #article-connection
              ページ接続人数
              #article-number.pull-right 1

      .span7
        h2.title= locals.article
        block index-content
        block list-content
        #content-editable(contenteditable='true')
          block content
        br
        if locals.article != null
          .small ↑クリックして編集可能
| </html>